.form-container{
	display: grid;
	grid-template-columns:.2fr auto .5fr;
	grid-template-areas: "label output output"
						 ". mid .";
}


.label{
	grid-area: label;
	grid-row: auto;
}

.output{
	grid-area: output;
	grid-row: auto;
}

.form-container p,
.form-container h1,
.form-container h2,
.form-container h4,
.form-container h2 span,
.form-container button{
	grid-area: mid;
	grid-row: auto;
}


<script type="text/javascript">
var elem = document.createElement("img");
elem.setAttribute("src", "images/hydrangeas.jpg");
document.getElementById("placehere").appendChild(elem);
elem.setAttribute("height", "768");
elem.setAttribute("width", "1024");
elem.setAttribute("alt", "Flower");
</script>


