<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="icon" href="favicon.jpg" sizes="16x16 32x32" type="image/png">
	<script src="../../js/script.js"></script>
	<script src="../../js/session.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="dash.html">DashBoard</a></li>
					<li><a href="location.html">Location</a></li>
					<button onclick="logOut()" class="logout" style="float: right;">LogOut</button>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>MAP-LOCATOR</h2>
		</div>
		<div class="main">
			<h4>Paste the co-ordinates below to find location</h4>
		  	<p id="locationError" style="color: red"></p>
			<label for="adr"><i class="fa fa-address-card-o"></i>Location</label>
		  	<input type="text" id="lnglat" required>
			<button onclick="find()" class="logout">Find</button>
		  	<pre id='info'></pre>
		  	<div id='map'></div>
		</div>
		<div class="footer">
			 <p>copyright @ManuelDominic <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		</div>
	</div>
</body>
<script src="../../js/find.js"></script>
</html>