<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<link rel="icon" href="../../img/favicon.jpg" sizes="16x16 32x32" type="image/png">
	<script src="../../js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="../../index.html">Index Page</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>ABOUT</h2>
		</div>
		<div class="main" style="text-align: center;">
			<div class="news">
				<h3>IREPORTER</h3>
				<p>IReporter enables any/every citizen to bring any form of corruption to the notice of appropriate authorities and the general public.</p>
			</div>
			<div class="news">
				<p>Corruption is a huge bane to Africa development. African countries must develop novel and localised solutions that will curb this menace, hence the birth of IReporter. Users can also report on things that needs government intervention</p>
			</div>
			<div class="news">
				<p>We understand that it's hard to stand up and report wrongdoing, which is why we treat every complaint with confidentiality. There are also a number of options to protect your privacy when you report corruption.</p>
			</div>
			<div class="news">
				<h4>Speaking up and making a complaint helps to:</h4>
				<ul>
					<li>-Expose corrupt activities and risks that may otherwise remain hidden</li>
					<li>-Keep the public sector honest, transparent and accountable</li>
					<li>-Provide assurances that dishonest practices are disrupted and stopped</li>
					<li>-Ensure that public sector employees act in the public interest.</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<p>copyright @ManuelDominic <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		</div>
	</div>
</body>
</html>