<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="../../img/favicon.jpg" sizes="16x16 32x32" type="image/png">
	<script src="../../js/script.js"></script>
	<script src="../../js/link.js"></script>
	<script src="../../js/profile.js"></script>
	<script src="../../js/session.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="dash.html">DashBoard</a></li>
					<li><a href="incident-form.html">Create Incident</a></li>
					<button onclick="logOut()" class="logout" style="float: right;">LogOut</button>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>U<span style="color:rgb(124,252,0)">SER</span> Dashboard</h2>
		</div>
		<div class="main" style="text-align: center;">
			<div id="myForm" class="modal">
			  <span onclick="document.getElementById('myForm').style.display='none'" class="close" title="Close Modal">&times;</span>
			  <div class="modal-content">
				  <form class="modal-form" action="#">
			        <img src="../../img/gent.jpeg" alt="John" style="width:35%">
			        <h1 id="user_name"></h1>
			        <p class="title">Software Developer/Computer Engineer</p>
			        <p>Andela  Uganda</p>
			        <div style="margin: 24px 0;">
			          <a href="#"><i class="fa fa-instagram"></i></a> 
			          <a href="#"><i class="fa fa-twitter-square"></i></a>  
			          <a href="#"><i class="fa fa-linkedin-square"></i></a>  
			          <a href="#"><i class="fa fa-facebook-f"></i></a> 
			        </div>
			        <p><button href="#" id="phone_number"></button></p>
				  </form>
			  </div>
			</div>
			<table>
				<td>
					<div class="card">
					  <img src="../../img/user.png" alt="Avatar" style="width:100%">
					  <div class="card-container">
					    <button class="dash open-button" onclick="viewProfile(),profile()"><i class="fa fa-user" style="color: blue"></i><b style="color: white"> Profile</b></button>
					  </div>
					</div>
				</td>
				<td>
					<div class="card">
					  <img src="../../img/interven.png" alt="Avatar" style="width:80%">
					  <div class="card-container">
					  	<button class="dash" onclick="intervention()"><i class="fas fa-people-carry" style="color: green"></i><b style="color: white"> Intervention Records: <b id="intervention-user">0</b></b></button>
					  </div>
					</div>
				</td>
				<td>
					<div class="card">
					  <img src="../../img/redflags.jpeg" alt="Avatar" style="width:85%; height: 150%;">
					  <div class="card-container">
					    <button class="dash" onclick="redflag()"><i class="fa fa-gavel" style="color: red"></i><b style="color: white"> Redflag Records: <b id="redflag-user">0</b></b></button>
					  </div>
					</div>
				</td>
			</table>
			<div class="card form-popup" id="myForm"></div>
		</div>
		<div class="footer">
			<p>copyright @ManuelDominic <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		</div>
	</div>
</body>
<!-- <script src="../../js/intervention-user.js"></script> -->
<script src="../../js/record-user.js"></script>
<script src="../../js/table.js"></script>
</html>