<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="icon" href="../../img/favicon.jpg" sizes="16x16 32x32" type="image/png">
	<script src="../../js/script.js"></script>
	<script src="../../js/link.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="dash.html">Home</a></li>
					<li><a href="redflag-form.html">Redflag-Form</a></li>
					<li><a href="intervetion-form.html">Intervestion-Form</a></li>
					<a href="../../index.html"  type="" name="" class="logout" style="float: right;">LogOut</a>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>U<span style="color:rgb(124,252,0)">SER</span> Dashboard</h2>
		</div>
		<div class="main">
			<table>
				<td>
					<div class="card">
					  <img src="../../img/user.png" alt="Avatar" style="width:100%">
					  <div class="card-container">
					    <button class="dash open-button" onclick="profile()"><i class="fa fa-user" style="color: blue"></i><b style="color: white"> Profile</b></button>
					  </div>
					</div>
				</td>
				<td>
					<div class="card">
					  <img src="../../img/interven.png" alt="Avatar" style="width:80%">
					  <div class="card-container">
					  	<button class="dash" onclick="intervention()"><i class="fas fa-people-carry" style="color: green"></i><b style="color: white"> Intervention Records: 0</b></button>
					  </div>
					</div>
				</td>
				<td>
					<div class="card">
					  <img src="../../img/redflags.jpeg" alt="Avatar" style="width:85%; height: 150%;">
					  <div class="card-container">
					    <button class="dash" onclick="redflag()"><i class="fa fa-gavel" style="color: red"></i><b style="color: white"> Redflag Records: 0</b></button>
					  </div>
					</div>
				</td>
			</table>
			<div class="card form-popup" id="myForm">
		        <img src="../../img/gent.jpeg" alt="John" style="width:100%">
		        <h1>Matembu Emmanuel Dominic</h1>
		        <p class="title">Software Developer/Computer Engineer</p>
		        <p>Andela  Uganda</p>
		        <div style="margin: 24px 0;">
		          <a href="#"><i class="far fa-dribbble"></i></a> 
		          <a href="#"><i class="far fa-twitter"></i></a>  
		          <a href="#"><i class="far fa-linkedin"></i></a>  
		          <a href="#"><i class="far fa-facebook"></i></a> 
		        </div>
		        <p><button>Contact</button></p>
		        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		      </form>
		    </div>
			<script>
				function profile() {
				  document.getElementById("myForm").style.display = "block";
				}

				function closeForm() {
				  document.getElementById("myForm").style.display = "none";
				}
			</script>
		</div>
		<div class="footer">
			<p>copyright @ManuelDominic <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		</div>
	</div>
</body>
</html>