<!DOCTYPE html>
<html>
<head>
	<title>Update-form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<script src="../../js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<h1 style="color: lightblue">Previous Report Review</h1>
			</nav>
		</div>
		<div class="sidebar">
			<h1>REDFLAG REPORT</h1>
		</div>
		<div class="main">
        <form class="view_form" action="action.py">
            <h2><span style="color:darkgreen">form-number</span> 266</h2>
            <div class="flex-container">
                <!-- <div class="row"> -->
                <div style="flex-grow: 1"><label>Status</label></div>
                  <div style="flex-grow: 8"><a type="" class="text" name=""><span style="color:darkblue">pending</span></a></div>
                </div>
                <br>
                <div class="flex-container">
                    <div style="flex-grow: 1"><label>Title</label></div>
                    <div style="flex-grow: 8"><a type="" class="text" name="" style="color:black">Theft</a></div>
                </div>
                <br>
               <div class="flex-container">
                    <div style="flex-grow: 1"><label for="adr">Location</label></div>
                    <div style="flex-grow: 3.5"><input id="long" type="" class="text" name="" style="color:black" placeholder=" 0.39987" required></div>
                    <div style="flex-grow: 3.5"><input id="lat" type="" class="text" name="" style="color:black" placeholder=" 0.78987" required></div>
                </div>
                 <br>
               <div class="flex-container">
                    <div style="flex-grow: 1"><label for="adr">Date</label></div>
                    <div style="flex-grow: 8"><a type="" class="text" name="" style="color:black">2018-01-01</a></div>
                </div>
                <br>
                <div class="flex-container">
                  <div style="flex-grow: 1"><label>Comment</label></div>
                  <div style="flex-grow: 8"><textarea id="comment" name="subject" placeholder="Thomas stole all my money and ths photo down was captured by my hidden car camera" style="height:150px"  required></textarea></div>
              </div>
              <br>
              <div class="flex-container">
                  <div style="flex-grow: 1"><label>Evidence Photo</label></div>
                  <div style="flex-grow: 8"><img src="../../img/2.jpeg"></div>
                  <br>
                  <span style="flex-grow: 1">
                    Browse to Add file <input id="image" type="file" name="image">
                  </span>
              </div>
              <br>
            <a href="home.html" type="submit" value="" class="btn" onclick="update()">Update</a>
          </form>
        </div>
      <div class="footer">
          <p>copyright @ManuelDominic <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      </div>
    </div>
</body>
<script type="text/javascript">
document.getElementById('editRedflag').addEventListener('submit', editRedflag);

function editRedflag(e) {
  e.preventDefault();

  let comment = document.getElementById('comment').value;
  let lat = document.getElementById('lat').value;
  let long = document.getElementById('long').value;
  // body...
  fetch('http://127.0.0.1:5000/api/v1/red-flag/update', {
    method: 'POST',
    headers:{
      'Accept':'application/json, text/plain, */*',
      'content-type':'application/json'
    },
    body:JSON.stringify({comment:comment, lat:lat, long:long})   
  })
  .then((response) => response.json())
  .then((data) => console.log(data))
}
</script>
</html>

