<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<script src="../../js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="redflag-form.html">Redflag-Form</a></li>
					<li><a href="intervetion-form.html">Intervestion-Form</a></li>
					<a href="../../index.html"  type="" name="" class="logout" style="float: right;">LogOut</a>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>U<span style="color:rgb(124,252,0)">ser</span> Dashboard</h2>
		</div>
		<div class="main">
			<table>
				<tbody>
					<tr>
						<th width="5%">Id</th>
						<th width="10%">Area</th>
						<th width="10%">Title</th>
						<th width="20%">Photo</th>
						<th width="30%">Comment</th>
						<th width="15%">Status</th>
						<th width="5%">Detail</th>
						<th width="5%">Delete</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Redflag</td>
						<td>Theft</td>
						<td>
							<div style="margin: 0 auto; width: 130px">
						        <img src="../../img/2.jpeg" alt="" style="width: 130px" />
						    </div>
						</td>
						<td>
							<p>He stole all my money and ths photo down was captured by my hdden car camera</p>
						</td>
						<td>Pending</td>
						<td><a href="edit-red.html" class="view">Edit</a></td>
						<td><a class="view" onclick="Delete();">Delete</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>Redflag</td>
						<td>Rape</td>
						<td>
							<div style="margin: 0 auto; width: 130px">
						        <img src="../../img/3.jpeg" alt="" style="width: 130px" />
						    </div>
						</td>
						<td>
							<p>He was found harrasing alady at around mid morning at Robbinson's Apartments, photo by phone camera</p>
						</td>
						<td>UnderInverstigation</td>
						<td><a href="red-report.html" class="view">Review</a></td>
						<td><a class="view" onclick="Delete();">Delete</a></td>
					</tr>
					<tr>
						<td>3</td>
						<td>Intervention</td>
						<td>Road Construction</td>
						<td>
							<div style="margin: 0 auto; width: 130px">
						        <img src="../../img/1.jpeg" alt="" style="width: 130px" />
						    </div>
						</td>
						<td>
							<p>Malamba Highway needs construction because it has lead many loss of lives</p>
						</td>
						<td>Rejected</td>
						<td><a href="inter-report.html" class="view">Review</a></td>
						<td><a class="view" onclick="Delete();">Delete</a></td>
					</tr>
					<tr>
						<td>4</td>
						<td>Intervention</td>
						<td>Road Construction</td>
						<td>
							<div style="margin: 0 auto; width: 130px">
						        <img src="../../img/1.jpeg" alt="" style="width: 130px" />
						    </div>
						</td>
						<td>
							<p>Jinja Highway needs construction because it has lead many loss of lives</p>
						</td>
						<td>Pending</td>
						<td><a href="edit-inter.html" class="view">Edit</a></td>
						<td><a class="view" onclick="Delete();">Delete</a></td>
					</tr>
					<tr>
						<td>5</td>
						<td>Redflag</td>
						<td>Thieft</td>
						<td>
							<div style="margin: 0 auto; width: 130px">
						        <img src="../../img/2.jpeg" alt="" style="width: 130px" />
						    </div>
						</td>
						<td>
							<p>He stole all my money and ths photo down was captured by my hdden car camera</p>
						</td>
						<td>Pending</td>
						<td><a href="edit-red.html" class="view">Edit</a></td>
						<td><a class="view" onclick="Delete();">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footer">
			<p>copyright @ManuelDominic <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		</div>
	</div>
</body>
</html>