<!DOCTYPE html>
<html>
<head>
	<title>Report-form</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<script src="../../js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<h1 style="color: lightblue">Previous Report Review</h1>
			</nav>
		</div>
		<div class="sidebar">
			<h2>INTERVESTION REPORT</h2>
		</div>
		<div class="main">
			<form class="report">
				<div class="row heading">
					<h2><span style="color:darkgreen;">form-number</span> 266</h2>
				</div>
				<div class="row">
					<output>Status: <span style="color:darkblue">Rejected</span></output>
				</div>
	        	<div class="row">
					<output>Title: <span style="color:darkblue">Road Contruction</span></output>
	        	</div>
	        	<div class="row">
					<output>Management: <span style="color:darkblue">UNRA</span></output>
	        	</div>
	        	<div class="row">
					<output>Location: <span style="color:darkblue">9.7979, </span><span style="color:darkblue">0.39987</span></output>
	        	</div>
	        	<div class="row">
					<output>Date: <span style="color:darkblue">16th/06/2018</span></output>
	        	</div>
	        	<div class="row">
					<output>Comment: <span style="color:darkblue">Malamba Highway needs construction because it has lead many loss of lives</span></output>
	        	</div>
	        	<div class="row">
					<output>Evidence Photo: :</output><span style="color:darkblue"><img src="../../img/1.jpeg"></span>
	        	</div>
	        	<div class="row">
					<a href="home.html" type="" name="" class="view">Back</a>
				</div>
			</form>
		</div>
		<div class="footer">
			<p>copyright @ManuelDominic <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		</div>
	</div>
</body>
</html>
